@model Customer
<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="borer p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Customer</h2>
            <hr />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="form-label mt-4">First Name</label>
            <input asp-for="FirstName" disabled class="form-control" placeholder="First Name" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label mt-4">Last Name</label>
            <input asp-for="LastName" disabled class="form-control" placeholder="Last Name" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label mt-4">Email address</label>
            <input asp-for="Email" type="email" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="form-label mt-4">PhoneNumber</label>
            <input asp-for="PhoneNumber" disabled class="form-control" placeholder="PhoneNumber" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label mt-4">Password</label>
            <input asp-for="Password" type="password" disabled class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
        </div>
        <br/>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
