@model TireShop
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Tire Shop</h2>
            <hr />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">Shop Name</label>
            <input asp-for="Name" class="form-control" placeholder="Shop Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="form-label mt-4">Address</label>
            <input asp-for="Address" class="form-control" placeholder="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="CustomerId" />
        <input type="hidden" asp-for="Id" />
        <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="TireShop" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

